---
layout: default
---

{% assign blogs_sorted = site.blog | sort: 'date' | reverse %}

<div class='container'>
    <header class="masthead text-center">
        <p style="text-align: right; font-weight: bold;">
            Welcome to RADICAL Thinking
        </p>
        <img class='img-responsive center-block' src="/images/labmembers_web.jpg" alt="RADICAL group photo"/>
        <span style="display: block; margin-bottom: 1em; font-weight: bold;">
            Cyberinfrastructure Research and Development
            <br> 
            Computation and Data-enabled Science
        </span>
        <span style="display: block; margin-bottom: 1em;">
            Department of Electrical and Computer Engineering at Rutgers, the State University of New Jersey
            <br>
            Rooms 705-707 and 713, 96 Frelinghuysen Rd, Piscataway Township, NJ 08854
        </span>
        
        <a class="twitter-timeline" href="https://twitter.com/LabRadical" data-widget-id="695051708246941697">Tweets by @LabRadical</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <span style="text-align: left; display: block; margin-bottom: 3em">
            <p style="font-weight: bold;">
                RECENT <a href="/blog/">Blog Posts</a>
            </p>
            <div class="content list">
                {% for post in blogs_sorted %}
                    {% if forloop.index < 11 %}
                        <div class="list-item">
                            <p class="list-post-title">
                                <a href="{{ site.baseurl }}{{ post.url }}">- {{ post.title }}</a>:
                                <small>{{ post.content | strip_html | truncatewords: 20 }}</small>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
          </div>
        </span>  
        <span style="display: block; margin-bottom: 3em;">
            <a href="https://github.com/radical-cybertools" style="margin-right:1.5em;">
                <i class="fab fa-github"></i> RADICAL CyberTools
            </a>
            <a href="https://twitter.com/LabRadical"  style="margin-right:1.5em;">
                <i class="fab fa-twitter"></i> News</a>
            <a href="mailto:shantenu.jha@rutgers.edu">
                <i class="fas fa-envelope"></i> shantenu.jha@rutgers.edu</a>
        </span>
    </header>
</div>
